In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("FootLocker.csv")

In [3]:
df.head()

,OrderNumber,Month,DayNite,SalesPerson,ProductID,ShoeBrand,ShoeStyle,ShoeColor,ShoeGender,Price,StoreCity,CustGender,CustAge,OnSale,discount,AgeGP,Cost
0,MEM1,January,AM,Bob,455339,Adidas,Powerblaze,Black/White,M,74.95,MEMPHIS,M,58,N,0.0,Over 55,58.90
1,MEM2,January,AM,Cindy,407696,ASICS,GEL-Evate? 3,Aqua/Yellow,W,149.95,MEMPHIS,F,23,N,0.0,18-25,44.73
2,GER3,January,PM,Bob,407809,ASICS,GEL-Hyper Speed? 6,Blue,M,84.95,GERMANTOWN,M,50,N,0.0,45-55,30.80
3,MEM4,January,PM,Karen,200121,Nike,Air Jordan 2,Black/Red/Aqua,W,130.00,MEMPHIS,F,12,N,0.0,18-25,100.38
4,MEM5,January,PM,Bob,424073,New Balance,M870v4,Grey/White,M,114.95,MEMPHIS,M,29,N,0.0,26-35,90.48

In [4]:
df['Profit'] = round((df['Price']-df['discount'])- df['Cost'])

In [5]:
df['StoreCity'].unique()

array(['MEMPHIS', 'GERMANTOWN', 'BARTLETT', 'Memphis', 'CORDOVA',
       'COLLIERVILLE'], dtype=object)

In [6]:
Memphis_data = df[df.apply(lambda row: row.astype(str).str.contains('Memphis', case=True, na=False).any(), axis=1)]
Memphis_data

,OrderNumber,Month,DayNite,SalesPerson,ProductID,ShoeBrand,ShoeStyle,ShoeColor,ShoeGender,Price,StoreCity,CustGender,CustAge,OnSale,discount,AgeGP,Cost,Profit
33,MEM34,January,AM,Bob,407689,ASICS,GEL-Nimbus? 17,Aqua/Black/White,M,149.95,Memphis,M,22,N,0.00,18-25,111.54,38.0
265,MEM266,January,PM,Mandeep,385614,Brooks,Ghost,Aqua/Black/White,W,99.99,Memphis,F,40,Y,0.42,36-45,85.66,14.0
471,MEM472,February,PM,Mandeep,200189,Nike,Nike Flyknit Air Max,Blue/Green,W,99.97,Memphis,F,47,N,0.00,45-55,56.70,43.0
655,MEM656,March,PM,Felipe,385614,Brooks,Ghost,Aqua/Black/White,W,99.99,Memphis,F,40,N,0.00,36-45,36.91,63.0
891,MEM892,April,AM,Bob,407689,ASICS,GEL-Nimbus? 17,Aqua/Black/White,M,149.95,Memphis,M,22,N,0.00,18-25,65.87,84.0
1133,MEM1134,May,PM,Derrick,200189,Nike,Nike Flyknit Air Max,Blue/Green,W,99.97,Memphis,F,47,N,0.00,45-55,28.28,72.0

In [7]:
Memphis_data1 = df[df.apply(lambda row: row.astype(str).str.contains('MEMPHIS', case=True, na=False).any(), axis=1)]
Memphis_data1

,OrderNumber,Month,DayNite,SalesPerson,ProductID,ShoeBrand,ShoeStyle,ShoeColor,ShoeGender,Price,StoreCity,CustGender,CustAge,OnSale,discount,AgeGP,Cost,Profit
0,MEM1,January,AM,Bob,455339,Adidas,Powerblaze,Black/White,M,74.95,MEMPHIS,M,58,N,0.0,Over 55,58.90,16.0
1,MEM2,January,AM,Cindy,407696,ASICS,GEL-Evate? 3,Aqua/Yellow,W,149.95,MEMPHIS,F,23,N,0.0,18-25,44.73,105.0
3,MEM4,January,PM,Karen,200121,Nike,Air Jordan 2,Black/Red/Aqua,W,130.00,MEMPHIS,F,12,N,0.0,18-25,100.38,30.0
4,MEM5,January,PM,Bob,424073,New Balance,M870v4,Grey/White,M,114.95,MEMPHIS,M,29,N,0.0,26-35,90.48,24.0
5,MEM6,January,PM,Karen,387367,New Balance,W1260v4,Red/Blue,M,144.95,MEMPHIS,M,24,N,0.0,18-25,100.20,45.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1491,MEM1492,June,PM,Mandeep,411863,Reebok,Dual Rush Z,White,W,69.95,MEMPHIS,F,61,N,0.0,Over 55,14.35,56.0
1494,MEM1495,June,PM,Derrick,200219,Nike,Air Jordan,Black/Orange,M,159.99,MEMPHIS,M,48,N,0.0,45-55,158.00,2.0
1495,MEM1496,June,PM,Derrick,200219,Nike,Air Jordan,Black/Orange,M,159.99,MEMPHIS,M,15,N,0.0,18-25,60.41,100.0
1496,MEM1497,June,PM,Mandeep,364815,Saucony,Saucony Triumph,White/Black,W,88.89,MEMPHIS,F,64,N,0.0,Over 55,38.82,50.0
1498,MEM1499,June,PM,Karen,200135,Nike,Nike Flyknit Lunar,Orange/Red,W,109.99,MEMPHIS,F,32,N,0.0,26-35,102.82,7.0

In [8]:
df['StoreCity']=df['StoreCity'].replace('Memphis','MEMPHIS')

In [9]:
Memphis_data2 = df[df.apply(lambda row: row.astype(str).str.contains('MEMPHIS', case=True, na=False).any(), axis=1)]
Memphis_data2

,OrderNumber,Month,DayNite,SalesPerson,ProductID,ShoeBrand,ShoeStyle,ShoeColor,ShoeGender,Price,StoreCity,CustGender,CustAge,OnSale,discount,AgeGP,Cost,Profit
0,MEM1,January,AM,Bob,455339,Adidas,Powerblaze,Black/White,M,74.95,MEMPHIS,M,58,N,0.0,Over 55,58.90,16.0
1,MEM2,January,AM,Cindy,407696,ASICS,GEL-Evate? 3,Aqua/Yellow,W,149.95,MEMPHIS,F,23,N,0.0,18-25,44.73,105.0
3,MEM4,January,PM,Karen,200121,Nike,Air Jordan 2,Black/Red/Aqua,W,130.00,MEMPHIS,F,12,N,0.0,18-25,100.38,30.0
4,MEM5,January,PM,Bob,424073,New Balance,M870v4,Grey/White,M,114.95,MEMPHIS,M,29,N,0.0,26-35,90.48,24.0
5,MEM6,January,PM,Karen,387367,New Balance,W1260v4,Red/Blue,M,144.95,MEMPHIS,M,24,N,0.0,18-25,100.20,45.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1491,MEM1492,June,PM,Mandeep,411863,Reebok,Dual Rush Z,White,W,69.95,MEMPHIS,F,61,N,0.0,Over 55,14.35,56.0
1494,MEM1495,June,PM,Derrick,200219,Nike,Air Jordan,Black/Orange,M,159.99,MEMPHIS,M,48,N,0.0,45-55,158.00,2.0
1495,MEM1496,June,PM,Derrick,200219,Nike,Air Jordan,Black/Orange,M,159.99,MEMPHIS,M,15,N,0.0,18-25,60.41,100.0
1496,MEM1497,June,PM,Mandeep,364815,Saucony,Saucony Triumph,White/Black,W,88.89,MEMPHIS,F,64,N,0.0,Over 55,38.82,50.0
1498,MEM1499,June,PM,Karen,200135,Nike,Nike Flyknit Lunar,Orange/Red,W,109.99,MEMPHIS,F,32,N,0.0,26-35,102.82,7.0

In [10]:
df.isnull().sum()

OrderNumber    0
Month          0
DayNite        0
SalesPerson    0
ProductID      0
ShoeBrand      0
ShoeStyle      0
ShoeColor      0
ShoeGender     0
Price          0
StoreCity      0
CustGender     0
CustAge        0
OnSale         0
discount       0
AgeGP          0
Cost           0
Profit         0
dtype: int64

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1500 entries, 0 to 1499
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   OrderNumber  1500 non-null   object
 1   Month        1500 non-null   object
 2   DayNite      1500 non-null   object
 3   SalesPerson  1500 non-null   object
 4   ProductID    1500 non-null   int64
 5   ShoeBrand    1500 non-null   object
 6   ShoeStyle    1500 non-null   object
 7   ShoeColor    1500 non-null   object
 8   ShoeGender   1500 non-null   object
 9   Price        1500 non-null   float64
 10  StoreCity    1500 non-null   object
 11  CustGender   1500 non-null   object
 12  CustAge      1500 non-null   int64
 13  OnSale       1500 non-null   object
 14  discount     1500 non-null   float64
 15  AgeGP        1500 non-null   object
 16  Cost         1500 non-null   float64
 17  Profit       1500 non-null   float64
dtypes: float64(4), int64(2), object(12)
memory usage: 211.1+ KB

In [12]:
df['OrderNumber'].unique()

array(['MEM1', 'MEM2', 'GER3', ..., 'GER1498', 'MEM1499', 'BAR1500'],
      dtype=object)